Repository shirou/gopsutil, changes with the labels that .github/labeler.yml gives for each.
All labels: v3, package:cpu, package:disk, package:docker, package:host, package:load, package:mem, package:net, package:process, package:winservices, os:linux, os:freebsd, os:darwin, os:openbsd, os:windows, os:solaris

Check if path exists and is nonempty before reading host files
  host/host_linux.go
  internal/common/common.go
Labels: package:host, os:linux

Trim double quotes from platform
  host/host_linux.go
Labels: package:host, os:linux

Use ReadSlice instead of ReadString
  internal/common/common.go
Labels: none

Trim quotes from values retrieved from /etc/os-release
  host/host_linux.go
Labels: package:host, os:linux

mem: use unix.SysctlUint64 for hw.memsize on darwin
  mem/mem_darwin.go
  v3/mem/mem_darwin.go
Labels: v3, package:mem, os:darwin

deps: switch to recommended fork of StackExchange/wmi
  Gopkg.toml
Labels: none

fix(process): fix the bug that the program is hung when getting the file name
  process/process_windows.go
  v3/process/process_windows.go
Labels: v3, package:process, os:windows

Change to use yusufpapurcu/wmi from StackExchange/wmi.
  Gopkg.lock
  cpu/cpu_windows.go
  host/host_windows.go
  internal/common/common_windows.go
  v3/cpu/cpu_windows.go
  v3/go.mod
  v3/go.sum
  v3/host/host_windows.go
  v3/internal/common/common_windows.go
Labels: v3, package:cpu, package:host, os:windows

chore(process): add ctx.Done() to break select
  process/process_windows.go
  v3/process/process_windows.go
Labels: v3, package:process, os:windows

chore(process): change the return value
  process/process_windows.go
  v3/process/process_windows.go
Labels: v3, package:process, os:windows

Add additional process states.
  v3/process/process.go
  v3/process/process_test.go
Labels: v3, package:process

v3/process: remove unused .cgo file
  v3/process/process_darwin_amd64.go.cgo
Labels: package:process

.github/labeler.yml:

v3:
  - v3/**/*.go
package:cpu:
  - cpu/*
  - v3/cpu/*
package:disk:
  - disk/*
  - v3/disk/*
package:docker:
  - docker/*
  - v3/docker/*
package:host:
  - host/*
  - v3/host/*
package:load:
  - load/*
  - v3/load/*
package:mem:
  - mem/*
  - v3/mem/*
package:net:
  - net/*
  - v3/net/*
package:process:
  - process/*
  - v3/process/*
package:winservices:
  - winservices/*
  - v3/winservices/*
os:linux:
  - ./**/*_linux.go
  - ./**/*_linux_mips64.go
  - ./**/*_linux_386.go
  - ./**/*_linux_test.go
  - ./**/*_linux_s390x.go
  - ./**/*_linux_amd64.go
  - ./**/*_posix.go
os:freebsd:
  - ./**/*_freebsd.go
  - ./**/*_freebsd_386.go
  - ./**/*_freebsd_test.go
  - ./**/*_freebsd_amd64.go
  - ./**/*_bsd.go
  - ./**/*_posix.go
os:darwin:
  - ./**/*_darwin.go
  - ./**/*_darwin_386.go
  - ./**/*_darwin_test.go
  - ./**/*_darwin_amd64.go
  - ./**/*_posix.go
os:openbsd:
  - ./**/*_openbsd.go
  - ./**/*_openbsd_386.go
  - ./**/*_openbsd_test.go
  - ./**/*_openbsd_amd64.go
  - ./**/*_bsd.go
  - ./**/*_posix.go
os:windows:
  - ./**/*_windows.go
  - ./**/*_windows_386.go
  - ./**/*_windows_test.go
  - ./**/*_windows_amd64.go
os:solaris:
  - ./**/*_solaris.go
  - ./**/*_posix.go
