Repository shirou/gopsutil, pull requests merged in 2019-07, with the labels that each got.

#710 [cpu]: return 100 instead 1 if t1 are bigger than t2
  cpu/cpu.go
Labels: package:cpu

#712 fix FreeBSD Users() time
  host/freebsd_headers/utxdb.h
  host/host_freebsd.go
  host/host_freebsd_386.go
  host/host_freebsd_amd64.go
  host/host_freebsd_arm.go
  host/types_freebsd.go
Labels: os:freebsd, package:host

#713 [process] Fix #607 properly check PID existence
  process/process.go
  process/process_fallback.go
  process/process_posix.go
  process/process_windows.go
Labels: package:process

#715 [process] Fix #599 cap percent values returned by *Percent() between 0 and 100
  process/process.go
Labels: package:process
