Repository shirou/gopsutil, pull requests merged in 2020-11, with the labels that each got.

#983 [cpu][windows] fix CPU struct name on windows.
  v3/cpu/cpu_windows.go
Labels: package:cpu, v3

#991 [cpu][linux] Get logical cores in Counts() with non-deprecated kernel API first
  cpu/cpu_linux.go
  v3/cpu/cpu_linux.go
Labels: package:cpu, v3

#988 [v3][cpu][windows] Remove exported windows-specific dead code
  _tools/v3migration/v3Changes.md
  v3/cpu/cpu_windows.go
Labels: os:windows, package:cpu, v3

#989 [ci] Implement automatic tests on GH Actions on linux, windows and darwin
  .github/workflows/test.yml
  net/net_darwin.go
  net/net_darwin_test.go
  net/net_freebsd.go
  process/process_darwin.go
  process/process_test.go
  v3/net/net_darwin.go
  v3/net/net_darwin_test.go
  v3/net/net_freebsd.go
  v3/process/process_darwin.go
  v3/process/process_test.go
  v3/process/testdata/darwin/ps-ax-opid_fail
Labels: package:net, package:process, v3

#997 remove circleci testing
  .circleci/config.yml
  .github/workflows/test.yml
  README.rst
  net/net_test.go
  v3/net/net_test.go
Labels: package:net, v3

#1003 v3/process: unbreak on OpenBSD
  v3/process/process_openbsd.go
Labels: package:process, v3
