Repository shirou/gopsutil, pull requests merged in 2021-11, with the labels that each got.

#1173 setup golangci-lint
  .github/workflows/lint.yml
  .golangci.yml
  v3/cpu/cpu_linux.go
  v3/disk/disk_linux.go
  v3/internal/common/common_unix.go
  v3/net/net.go
  v3/net/net_linux.go
  v3/process/process_linux.go
Labels: package:process, package:cpu, package:disk, package:net, v3

#1166 feat(process): implement the 'OpenFilesWithContext' function of the windows system
  internal/common/common_windows.go
  process/process_test.go
  process/process_windows.go
  v3/internal/common/common_windows.go
  v3/process/process_test.go
  v3/process/process_windows.go
Labels: package:process, v3

#1177 add initial aix support
  v3/cpu/cpu_aix.go
  v3/cpu/cpu_fallback.go
  v3/disk/disk_aix.go
  v3/disk/disk_fallback.go
  v3/load/load_aix.go
  v3/load/load_fallback.go
  v3/mem/mem_aix.go
  v3/mem/mem_fallback.go
Labels: package:cpu, package:disk, package:load, package:mem, v3

#1180 mem: use unix.SysctlUint64 for hw.memsize on darwin
  mem/mem_darwin.go
  v3/mem/mem_darwin.go
Labels: package:mem, v3

#1181 deps: switch to recommended fork of StackExchange/wmi
  Gopkg.lock
  Gopkg.toml
  cpu/cpu_windows.go
  host/host_windows.go
  internal/common/common_windows.go
  v3/cpu/cpu_windows.go
  v3/go.mod
  v3/go.sum
  v3/host/host_windows.go
  v3/internal/common/common_windows.go
Labels: package:host, package:cpu, v3

#1182 fix(process): fix the bug that the program is hung when getting the f…
  process/process_windows.go
  v3/process/process_windows.go
Labels: package:process, v3

#1186 v3/process: remove unused .cgo file
  v3/process/process_darwin_amd64.go.cgo
Labels: package:process

#1185 Add additional process states
  v3/process/process.go
  v3/process/process_test.go
Labels: package:process, v3

#1176 Prefix C function by gopsutil_v3_
  v3/disk/disk_darwin_cgo.go
  v3/disk/iostat_darwin.c
  v3/disk/iostat_darwin.h
  v3/host/host_darwin_cgo.go
  v3/host/smc_darwin.c
  v3/host/smc_darwin.h
Labels: package:host, package:disk, v3
