Repository shirou/gopsutil, pull requests merged in 2021-03, with the labels that each got.

#1041 [process][linux] apply #1033 to v3.
  v3/process/process_linux.go
Labels: package:process, v3

#1045 [process][windows] Fix #714 call OpenProcess with PROCESS_QUERY_INFORMATION on WinXP
  process/process_windows.go
  v3/process/process_windows.go
Labels: package:process, v3

#1042 Add missing TargetConditionals.h include, closes #976
  cpu/cpu_darwin_cgo.go
  v3/cpu/cpu_darwin_cgo.go
Labels: package:cpu, v3

#1047 Added missing distributions to the suse platform family
  host/host_linux.go
Labels: package:host

#1050 [v3][host][linux] add suse to v3 following #1047
  v3/host/host_linux.go
Labels: package:host, v3

#1051 [process][posix] Fix #1049 check if procfs is mounted before checking if pid exists there
  process/process_posix.go
  v3/process/process_posix.go
Labels: package:process, v3
