Repository shirou/gopsutil, pull requests merged in 2021-02, with the labels that each got.

#1027 Fixes #1026 windows counters on non english systems
  internal/common/common_windows.go
  load/load_windows.go
  v3/internal/common/common_windows.go
  v3/load/load_windows.go
Labels: package:load, v3

#1032 [v3][cpu] remove accidentally added GPL files.
  v3/cpu/_smc.c
  v3/cpu/_smc.h
Labels: package:cpu

#1036 cpu, v3/cpu: use sysconf package instead of exec'ing getconf
  Gopkg.lock
  Gopkg.toml
  cpu/cpu_darwin.go
  cpu/cpu_dragonfly.go
  cpu/cpu_freebsd.go
  cpu/cpu_linux.go
  cpu/cpu_openbsd.go
  cpu/cpu_solaris.go
  v3/cpu/cpu_darwin.go
  v3/cpu/cpu_dragonfly.go
  v3/cpu/cpu_freebsd.go
  v3/cpu/cpu_linux.go
  v3/cpu/cpu_openbsd.go
  v3/cpu/cpu_solaris.go
  v3/go.mod
  v3/go.sum
Labels: package:cpu, v3

#1030 Clarify the godoc of the Children function.
  process/process.go
  v3/process/process.go
Labels: package:process, v3

#1033 Avoid returning slice into buffer from Readfile
  process/process_linux.go
Labels: package:process
