Repository shirou/gopsutil, pull requests merged in 2021-05, with the labels that each got.

#1060 Fix fillFromStatusWithContext() on systems with 128 bit signal masks.
  process/process_linux.go
  v3/process/process_linux.go
Labels: package:process, v3

#1068 relax net/NetIOCountersAll test.
  net/net_test.go
  v3/net/net_test.go
Labels: package:net, v3

#1067 [process][linux] add test to parse fillFromStatus
  internal/common/common.go
  process/process_linux_test.go
  process/testdata/linux/1/status
  process/testdata/linux/1060/status
  v3/internal/common/common.go
  v3/process/process_linux_test.go
  v3/process/testdata/linux/1/status
  v3/process/testdata/linux/1060/status
Labels: package:process, v3

#1064 [cpu][solaris] psrinfo parsing fixes
  cpu/cpu_solaris.go
  cpu/cpu_solaris_test.go
  cpu/testdata/solaris/2cpu_12core_isainfo.txt
  cpu/testdata/solaris/2cpu_12core_psrinfo.txt
  v3/cpu/cpu_solaris.go
  v3/cpu/cpu_solaris_test.go
  v3/cpu/testdata/solaris/2cpu_12core_isainfo.txt
  v3/cpu/testdata/solaris/2cpu_12core_psrinfo.txt
Labels: package:cpu, v3

#1072 process: fix ExternProc on Apple Silicon / Darwin arm64
  process/process_darwin_arm64.go
  v3/process/process_darwin_arm64.go
Labels: package:process, v3

#1075 [process][solaris] improve Exe portability
  process/process_solaris.go
  v3/process/process_solaris.go
Labels: os:solaris, package:process, v3

#1010 Fix wrong OpenBSD user count
  host/host_openbsd.go
Labels: package:host

#1056 add a reliable way to get fields from /prod/PID/stat
  v3/process/process_linux.go
  v3/process/process_linux_test.go
  v3/process/testdata/linux/proc/68927/stat
Labels: package:process, v3

#1077 [host][openbsd][v3] Fix wrong OpenBSD user count
  v3/host/host_openbsd.go
Labels: package:host, v3

#1079 [process][linux] fix 1056 test and copy to v2
  process/process_linux.go
  process/process_linux_test.go
  process/testdata/linux/68927/stat
  v3/process/process_linux_test.go
  v3/process/testdata/linux/68927/stat
Labels: package:process, v3
