Repository shirou/gopsutil, pull requests merged in 2021-09, with the labels that each got.

#1130 v3/process (Win): fix Kill() DuplicateHandle error
  v3/process/process_windows.go
Labels: package:process, v3

#1132 Add arm/arm64 support on Windows (fixes #916)
  v3/process/process_windows_64.go
  v3/process/process_windows_86.go
Labels: package:process, v3

#1137 Rename `readdrivestat` function on v3
  v3/disk/disk_darwin_cgo.go
  v3/disk/iostat_darwin.c
  v3/disk/iostat_darwin.h
Labels: package:disk, v3

#1138 [mem] Add mem.SwapDevices() to v3
  process/process_test.go
  v3/mem/mem.go
  v3/mem/mem_darwin.go
  v3/mem/mem_darwin_cgo.go
  v3/mem/mem_darwin_nocgo.go
  v3/mem/mem_fallback.go
  v3/mem/mem_linux.go
  v3/mem/mem_linux_test.go
  v3/mem/mem_openbsd_386.go
  v3/mem/mem_openbsd_arm64.go
  v3/mem/mem_solaris.go
  v3/mem/mem_test.go
  v3/mem/mem_windows.go
  v3/process/process_test.go
Labels: package:process, package:mem, v3

#1133 v3/diss (Linux): fix disk retrieve partition issue while using in container
  disk/disk_linux.go
  v3/disk/disk_linux.go
Labels: package:disk, v3
