Repository shirou/gopsutil, pull requests merged in 2021-12, with the labels that each got.

#1192 [cpu][mac] change not return error even if cpu.frequency errors
  cpu/cpu_darwin.go
Labels: package:cpu

#1194 Enable errorlint and gci linters
  .golangci.yml
  cpu/cpu_test.go
  disk/disk_linux.go
  disk/disk_test.go
  host/host.go
  host/host_test.go
  internal/common/sleep_test.go
  load/load_test.go
  mem/mem_test.go
  net/net_linux.go
  net/net_test.go
  process/process.go
  process/process_posix.go
  process/process_test.go
Labels: package:host, package:process, package:cpu, package:disk, package:net, package:load, package:mem

#1191 [disk][host][mac] fix deprecated code in macOS Monterey
  disk/iostat_darwin.c
  disk/iostat_darwin.h
  host/smc_darwin.c
  host/smc_darwin.h
Labels: package:host, package:disk
