Repository shirou/gopsutil, pull requests merged in 2022-11, with the labels that each got.

#1373 feat: Setting the model name for arm based CPUs
  cpu/cpu_linux.go
Labels: package:cpu

#1362 [ios][disk] IOKit is not available on iOS
  disk/disk_darwin_cgo.go
  disk/disk_darwin_nocgo.go
Labels: package:disk

#1380 [load][windows]: add error detail and context handling.
  load/load_windows.go
Labels: package:load

#1381 pull request on adding missing statistic under solaris/illumos
  disk/disk_solaris.go
  mem/mem_solaris.go
  mem/mem_test.go
  net/net_fallback.go
  net/net_solaris.go
  net/net_test.go
Labels: package:disk, package:net, package:mem

#1379 [disk][host]: move back Warnings from internal to disk and host.
  disk/disk_windows.go
  host/host_linux.go
Labels: package:host, package:disk

#1367 [disk][windows] Support LabelWithContext & SerialNumberWithContext - rebased
  disk/disk_windows.go
Labels: package:disk
