Repository shirou/gopsutil, pull requests merged in 2022-10, with the labels that each got.

#1347 Return all Windows partitions
  disk/disk_windows.go
  host/host_linux.go
  internal/common/warnings.go
Labels: package:host, package:disk

#1360 Fix memory leaks in process_darwin_cgo
  process/process_darwin_cgo.go
Labels: package:process

#1369 [process][windows] Retrieve process name as basename of executable
  process/process_test.go
  process/process_windows.go
Labels: package:process

#1365 Pass on context to ConnectionsPidWithContext
  net/net_unix.go
Labels: package:net
