Repository shirou/gopsutil, pull requests merged in 2022-02, with the labels that each got.

#1246 Fix typing issues in createTimeWithContext on Freebsd/i386
  process/process_freebsd.go
Labels: package:process

#1242 [host][solaris] implement SensorsTemperaturesWithContext
  host/host_solaris.go
Labels: package:host

#1251 Add support for reading smaps_rollup
  process/process_linux.go
Labels: package:process

#1210 enable contextcheck linter
  .golangci.yml
  cpu/cpu.go
  docker/docker_linux.go
  internal/common/common_linux.go
  net/net_linux.go
  process/process_linux.go
  process/process_linux_test.go
Labels: package:process, package:cpu, package:docker, package:net

#1254 [disk][freebsd] include serial number in IOCounters
  disk/disk_freebsd.go
Labels: package:disk

#1256 [disk][solaris] implement SerialNumberWithContext
  disk/disk_solaris.go
Labels: package:disk

#1244 fix cpu_openbsd.go once and for all
  cpu/cpu_openbsd.go
  cpu/cpu_openbsd_386.go
  cpu/cpu_openbsd_amd64.go
Labels: package:cpu
