Repository shirou/gopsutil, pull requests merged in 2022-01, with the labels that each got.

#1215 [net][linux] Fix #1198 "f.ReadDir undefined" on Go 1.15 by redefining a custom readDir according to go version
  net/net_linux.go
  net/net_linux_111.go
  net/net_linux_116.go
Labels: package:net

#1219 [process][windows] Fix #1216 fix compilation on arm/arm64
  process/process_windows_32bit.go
  process/process_windows_64bit.go
Labels: package:process

#1218 [process][freebsd] implement createTimeWithContext
  process/process_freebsd.go
Labels: package:process

#1221 [process][windows] fix release handle
  process/process_windows.go
Labels: package:process

#1217 [disk][freebsd] implement SerialNumberWithContext
  disk/disk_freebsd.go
Labels: package:disk

#1224 [load][solaris] implement AvgWithContext
  README.md
  load/load_solaris.go
Labels: package:load

#1231 [process][linux] Fix error handling on Children.
  process/process_linux.go
Labels: package:process

#1233 Let almalinux be part of the rhel family
  host/host_linux.go
Labels: package:host

#1229 Darwin drop callps step2
  go.mod
  go.sum
  process/process_darwin.go
  process/process_darwin_cgo.go
  process/process_darwin_nocgo.go
  process/process_test.go
  process/testdata/darwin/ps-ax-opid_fail
Labels: package:process

#1235 [process] implement ParentWithContext using PpidWithContext
  process/process.go
  process/process_darwin.go
  process/process_fallback.go
  process/process_freebsd.go
  process/process_linux.go
  process/process_openbsd.go
  process/process_plan9.go
  process/process_solaris.go
  process/process_windows.go
Labels: package:process

#1238 Spelling and grammar fixes
  LICENSE
  README.md
  docker/docker_linux.go
  docker/docker_notlinux.go
  internal/common/common.go
  load/load_darwin.go
  load/load_linux.go
  mem/mem_linux.go
  net/net_aix.go
  net/net_darwin.go
  net/net_freebsd.go
  net/net_linux.go
  net/net_openbsd.go
  net/net_windows.go
  process/process.go
  process/process_linux.go
  process/process_windows.go
Labels: package:process, package:docker, package:net, package:load, package:mem
