Repository shirou/gopsutil, pull requests merged in 2022-07, with the labels that each got.

#1322 fix(net,linux): fix decodeaddress if Big Endian
  internal/common/endian.go
  net/net_linux.go
  net/net_linux_test.go
Labels: package:net

#1325 fix(cpu): fix cpu total and busy calc
  cpu/cpu.go
Labels: package:cpu

#1326 fix(process,linux): remove trailing multiple \x00
  process/process_linux.go
Labels: package:process

#1328 fix(host,linux): Check if path exists and is nonempty before reading host files
  host/host_linux.go
  internal/common/common.go
  internal/common/common_test.go
Labels: package:host

#1334 mem.VirtualMemory(): wrong page size on darwin arm64
  mem/mem_darwin_cgo.go
Labels: package:mem

#1333 Replace IOMainPort/IOMasterPort() and kIOMainPortDefault/kIOMasterPortDefault with NULL
  disk/iostat_darwin.c
  disk/iostat_darwin.h
  host/smc_darwin.c
  host/smc_darwin.h
Labels: package:host, package:disk

#1335 host, process: delete darwin/386 code
  Makefile
  README.md
  host/host_darwin_386.go
  process/process_darwin_386.go
Labels: package:host, package:process
