Repository shirou/gopsutil, pull requests merged in 2022-12, with the labels that each got.

#1384 Revert "[disk][windows] Support LabelWithContext & SerialNumberWithContext - rebased "
  disk/disk_windows.go
Labels: package:disk

#1394 cpu: use windows.GetActiveProcessorCount
  cpu/cpu_windows.go
Labels: package:cpu

#1392 Truncate the Getfsstat result to the count of items that were returned
  disk/disk_darwin.go
Labels: package:disk

#1389 fill modelName for all cores in arm64 devices
  cpu/cpu_linux.go
Labels: package:cpu

#1398 test: use `T.Setenv` to set env vars in tests
  cpu/cpu_linux_test.go
  cpu/cpu_plan9_test.go
  internal/common/common.go
  mem/mem_linux_test.go
  mem/mem_plan9_test.go
  process/process_linux_test.go
Labels: package:process, package:cpu, package:mem
