Repository shirou/gopsutil, pull requests merged in 2022-03, with the labels that each got.

#1268 refactor: remove unnecessary exec.LookPath calls
  cpu/cpu_linux_test.go
  cpu/cpu_solaris.go
  disk/disk_freebsd.go
  disk/disk_solaris.go
  docker/docker_linux.go
  host/host_darwin.go
  host/host_linux.go
  host/host_solaris.go
  internal/common/common_darwin.go
  internal/common/common_freebsd.go
  internal/common/common_linux.go
  internal/common/common_openbsd.go
  internal/common/common_unix.go
  load/load_bsd.go
  load/load_darwin.go
  load/load_solaris.go
  mem/mem_bsd.go
  mem/mem_darwin_nocgo.go
  mem/mem_openbsd.go
  mem/mem_solaris.go
  net/net_aix.go
  net/net_darwin.go
  net/net_freebsd.go
  process/process_darwin.go
  process/process_darwin_nocgo.go
  process/process_freebsd.go
  process/process_openbsd.go
Labels: package:host, package:process, package:cpu, package:disk, package:docker, package:net, package:load, package:mem

#1267 fix(process): fix OpenFilesWithContext panic problem
  process/process_windows.go
Labels: package:process

#1270 [disk][linux] add fallback to /proc/self
  disk/disk_linux.go
Labels: package:disk

#1277 [net] gofumpt with 0.3.0 / golangci-lint 1.45.0
  net/net.go
Labels: package:net

#1276 [disk][linux] recognize more file systems
  disk/disk_linux.go
Labels: package:disk

#1280 Fix telegraf 1.22.0 build on OpenBSD/arm64
  cpu/cpu_openbsd_arm64.go
Labels: package:cpu
