Repository shirou/gopsutil, pull requests merged in 2022-05, with the labels that each got.

#1291 [disk][linux] fix readlink error which system boot by nfs mount
  disk/disk_linux.go
Labels: package:disk

#1296 [disk][windows] Set EnableCounterForIoctl reg key to 1 in init() to automatically enable diskperf on Server editions
  disk/disk_windows.go
Labels: package:disk

#1301 [process][windows] Use WaitForSingleObject with a 0 delay in PidExistsWithContext
  process/process_windows.go
Labels: package:process

#1305 [net][linux]: fix lint
  net/net_linux_test.go
Labels: package:net
