Repository shirou/gopsutil, pull requests merged in 2023-08, with the labels that each got.

#1495 Enable setting of vendor and related information for all Power versions
  cpu/cpu_linux.go
Labels: package:cpu

#1498 mem: linux: fix vmstat field names
  mem/mem_linux.go
Labels: package:mem

#1501 fix: fixed windows disk package leaks
  disk/disk_windows.go
Labels: package:disk

#1504 [host][linux]: remove double quote from lsb release info
  host/host_linux.go
  host/host_linux_test.go
  host/host_test.go
  host/testdata/linux/lsbStruct/arch/lsb-release
  host/testdata/linux/lsbStruct/ubuntu_22_04/lsb-release
Labels: os:linux, package:host

#1508 fix IOCounters() SerialNumber enumeration
  disk/disk_linux.go
Labels: package:disk

#1514 Fix Processes() calls with many cores
  internal/common/common.go
  internal/common/common_linux.go
  process/process_test.go
Labels: package:process
