Repository shirou/gopsutil, pull requests merged in 2023-03, with the labels that each got.

#1421 Recognize Cumulus Linux distro
  host/host_linux.go
Labels: package:host

#1428 FreeBSD process exe support
  process/process_freebsd.go
Labels: package:process

#1430 Fix 'send on closed channel' bug with windows disks
  disk/disk_windows.go
Labels: package:disk

#1431 fix: moves common.Warnings to common OS files
  disk/disk.go
  disk/disk_windows.go
  host/host.go
  host/host_linux.go
Labels: package:host, package:disk
