Repository shirou/gopsutil, pull requests merged in 2023-12, with the labels that each got.

#1561 add deepin and uos distro
  host/host_linux.go
Labels: package:host

#1570 Avoid some uses of regexps
  cpu/cpu_aix_nocgo.go
  disk/disk_aix_nocgo.go
  mem/mem_aix_nocgo.go
Labels: package:cpu, package:disk, package:mem

#1569 Avoid repeated regexp compilations
  cpu/cpu_solaris.go
  disk/disk_solaris.go
  host/host_linux.go
  net/net_solaris.go
Labels: package:host, package:cpu, package:disk, package:net

#1573 feat(disk): look for filesystem labels from udev on Linux
  disk/disk_linux.go
Labels: package:disk
