Repository shirou/gopsutil, pull requests merged in 2023-10, with the labels that each got.

#1536 [process][darwin]: skip process.Nice test if darwin on GitHub Action
  process/process_test.go
Labels: package:process

#1537 [host][darwin]: fix Users
  host/host_darwin.go
  host/host_test.go
Labels: os:darwin, package:host

#1544 fix(linux): validate cpu fields length before accessing index
  cpu/cpu_linux.go
  load/load_windows.go
Labels: package:cpu, package:load
