Repository shirou/gopsutil, pull requests merged in 2023-09, with the labels that each got.

#1524 chore: replace deprecated ioutil package to os and io
  cpu/cpu_solaris_test.go
  disk/disk_linux.go
  host/host_darwin.go
  host/host_freebsd.go
  host/host_linux.go
  host/host_openbsd.go
  host/host_solaris.go
  internal/common/common.go
  load/load_linux.go
  net/net_linux.go
  process/process_linux.go
  process/process_linux_test.go
  process/process_solaris.go
  process/process_test.go
Labels: package:host, package:process, package:cpu, package:disk, package:net, package:load

#1525 ci(lint): ensure io/ioutil replacement
  .github/workflows/lint.yml
  .golangci.yml
  host/host_solaris.go
  net/net_linux_test.go
  process/process_linux_test.go
  process/process_test.go
Labels: package:host, package:process, package:net

#1530 Add some support for NetBSD
  cpu/cpu_fallback.go
  cpu/cpu_netbsd.go
  cpu/cpu_netbsd_amd64.go
  cpu/cpu_netbsd_arm64.go
  disk/disk_fallback.go
  disk/disk_netbsd.go
  disk/disk_netbsd_amd64.go
  disk/disk_netbsd_arm64.go
  disk/types_netbsd.go
  host/host_bsd.go
  host/host_fallback.go
  host/host_netbsd.go
  host/host_posix.go
  internal/common/common_netbsd.go
  mem/mem_bsd.go
  mem/mem_fallback.go
  mem/mem_netbsd.go
Labels: package:host, package:cpu, package:disk, package:mem
