Repository shirou/gopsutil, pull requests merged in 2024-01, with the labels that each got.

#1579 [host]: add EnableBootTimeCache function
  README.md
  host/host.go
  host/host_bsd.go
  host/host_linux.go
  host/host_test.go
  host/host_windows.go
  internal/common/common_linux.go
  process/process.go
  process/process_linux.go
Labels: package:host, package:process

#1575 [linux][disk]: fix Rdev cast
  Makefile
  disk/disk_linux.go
Labels: package:disk

#1580 Windows, read all PIDs if there are more than 1024 PIDs.
  process/process_windows.go
Labels: package:process

#1584 ensure host platform are files and have contents
  host/host_linux.go
  internal/common/common.go
Labels: package:host
