Repository shirou/gopsutil, pull requests merged in 2024-07, with the labels that each got.

#1672 fix: read temperature sensors darwin arm
  sensors/darwin_arm_sensors.h
  sensors/sensors_darwin_cgo.go
Labels: package:sensors

#1670 fix: docker_memory in centos_7.5 & docker_1.13.1
  docker/docker_linux.go
Labels: package:docker

#1677 [windows][mem]: change to use Performance Counter on SwapMemory.
  internal/common/common.go
  mem/mem_windows.go
Labels: package:mem
