Repository shirou/gopsutil, pull requests merged in 2024-08, with the labels that each got.

#1688 fix(IOCountersWithContext): Fix the issue of not using names to fil ter devices in func IOCountersWithContext of the windows implementation
  disk/disk_windows.go
Labels: package:disk

#1693 fix: golangci lint with max -> maxConn
  disk/disk_freebsd.go
  disk/disk_test.go
  mem/mem_aix.go
  net/net_aix.go
  net/net_fallback.go
  net/net_linux.go
  net/net_linux_test.go
  net/net_unix.go
  net/net_windows.go
  process/process.go
  process/process_darwin.go
  process/process_fallback.go
  process/process_freebsd.go
  process/process_linux.go
  process/process_openbsd.go
  process/process_plan9.go
  process/process_solaris.go
  process/process_windows.go
  sensors/sensors_aix.go
Labels: package:process, package:disk, package:net, package:mem, package:sensors

#1697 fix golangcilint errors, ignore gosec G115
  .golangci.yml
  cpu/cpu_freebsd.go
  cpu/cpu_linux.go
  cpu/cpu_netbsd.go
  disk/disk_aix_nocgo.go
  disk/disk_netbsd.go
  host/host_freebsd.go
  host/host_netbsd.go
  host/host_windows.go
  internal/common/common.go
  mem/mem_freebsd.go
  net/net_aix.go
  net/net_darwin.go
  net/net_freebsd.go
  net/net_linux.go
  net/net_linux_test.go
  net/net_openbsd.go
  net/net_unix.go
  process/process_darwin.go
  process/process_darwin_nocgo.go
  process/process_test.go
  sensors/sensors_openbsd.go
Labels: package:host, package:process, package:cpu, package:disk, package:net, package:mem, package:sensors

#1691 Fix parsing of /proc/pid/smaps when path is empty
  process/process_linux.go
  process/process_linux_test.go
  process/testdata/linux/1/smaps
Labels: package:process

#1692 Refactoring the algorithm for calculating CPU usage
  process/process.go
Labels: package:process

#1694 Fix panic on OpenBSD and FreeBSD systems if KinfoProc size has an unexpected size
  process/process_freebsd.go
  process/process_openbsd.go
Labels: package:process
