Repository shirou/gopsutil, pull requests merged in 2024-03, with the labels that each got.

#1615 chore: fix typo
  disk/disk_netbsd.go
Labels: package:disk

#1609 [process][freebsd]: re-generate types on freebsd arm64
  process/process_freebsd_arm64.go
  process/types_freebsd.go
Labels: package:process

#1612 Total Processes in `MiscStat` Corrected
  load/load_linux.go
Labels: package:load
