Repository shirou/gopsutil, pull requests merged in 2024-12, with the labels that each got.

#1716 fix: release process after os.FindProcess()
  process/process_posix.go
  process/process_windows.go
Labels: package:process

#1743 enable testifylint linter
  .golangci.yml
  mem/mem_linux_test.go
  mem/mem_test.go
  net/net_linux_test.go
  process/process_linux_test.go
  process/process_test.go
Labels: package:process, package:net, package:mem

#1757 [openbsd] set ConnectionsPid to return NotImplemented
  net/net_openbsd.go
Labels: package:net

#1761 enable all rules of testifylint linter
  .golangci.yml
  process/process_linux_test.go
Labels: package:process

#1762 enable all rules of perfsprint linter
  .golangci.yml
  cpu/cpu.go
  internal/common/common_linux.go
  net/net_linux.go
  process/process_linux_test.go
Labels: package:process, package:cpu, package:net

#1765 [process][freebsd]: add CWD
  process/process_freebsd.go
  process/process_freebsd_386.go
  process/process_freebsd_amd64.go
  process/process_freebsd_arm.go
  process/process_freebsd_arm64.go
  process/types_freebsd.go
Labels: package:process

#1767 fix: memory leak and string corruption in ARM Mac temperature sensors
  sensors/sensors_darwin_arm64.go
Labels: package:sensors

#1768 refactor(darwin): optimize string allocation
  cpu/cpu_darwin_arm64.go
  disk/disk_darwin.go
  internal/common/common_darwin.go
  process/process_darwin.go
  sensors/sensors_darwin.go
  sensors/sensors_darwin_arm64.go
  sensors/sensors_test.go
Labels: package:process, package:cpu, package:disk, package:sensors
