Repository shirou/gopsutil, pull requests merged in 2024-05, with the labels that each got.

#1629 [v4] Implements v4 for v4.24.0-beta
  host/host_test.go
  host/host_windows.go
  process/process.go
  process/process_linux.go
Labels: package:host, package:process

#1640 Add fallback for lsof output
  process/process_darwin_nocgo.go
Labels: package:process

#1651 Improve AIX Support
  README.md
  cpu/cpu_aix_nocgo.go
  cpu/testdata/aix/prtconf
  cpu/testdata/aix/sar-u-PALL101
  cpu/testdata/aix/sar-u101
  disk/disk_aix.go
  disk/disk_aix_nocgo.go
  disk/disk_unix.go
  go.mod
  go.sum
  host/host_aix.go
  host/host_aix_ppc64.go
  host/host_fallback.go
  mem/mem_aix_nocgo.go
Labels: package:host, package:cpu, package:disk, package:mem

#1649 [process][openbsd]: add cwd on openbsd.
  process/process_openbsd.go
  process/process_openbsd_386.go
  process/process_openbsd_amd64.go
  process/process_openbsd_arm.go
  process/process_openbsd_arm64.go
  process/process_openbsd_riscv64.go
  process/types_openbsd.go
Labels: package:process
