Repository shirou/gopsutil, pull requests merged in 2024-10, with the labels that each got.

#1715 Fix error message typo in sensors_linux
  sensors/sensors_linux.go
Labels: package:sensors

#1722 fix(mem): possible memory leak on Windows
  mem/mem_windows.go
Labels: package:mem

#1731 [cpu][disk][netbsd] Generate arm-specific definitions
  cpu/cpu_netbsd_arm.go
  disk/disk_netbsd_arm.go
Labels: package:cpu, package:disk

#1727 sensors: avoid passing nil pointer to CFArrayGetCount
  sensors/sensors_darwin_arm64.go
Labels: package:sensors

#1720 feat(mem): Add windows commit stats
  mem/ex_windows.go
Labels: package:mem
