Repository shirou/gopsutil, pull requests merged in 2025-05, with the labels that each got.

#1839 Remove wmi for Get physical CPU core count
  cpu/cpu_test.go
  cpu/cpu_windows.go
Labels: package:cpu

#1842 chore: enable staticcheck
  .golangci.yml
  cpu/cpu_darwin_arm64.go
  cpu/cpu_solaris.go
  disk/disk_darwin.go
  host/host_aix.go
  host/host_darwin.go
  host/host_freebsd.go
  host/host_openbsd.go
  internal/common/common_darwin.go
  net/net_openbsd.go
  process/process_windows.go
Labels: package:host, package:process, package:cpu, package:disk, package:net

#1846 fix(ST1005): Incorrectly formatted error string
  .golangci.yml
  host/host_windows.go
  net/net_darwin.go
Labels: package:host, package:net

#1847 fix ignore nakedret
  cpu/cpu_netbsd.go
  cpu/cpu_openbsd.go
  host/host_windows.go
  net/net_darwin.go
Labels: package:host, package:cpu, package:net

#1848 Fix issues with GetLastError() usage
  cpu/cpu_windows.go
  disk/disk_windows.go
  mem/ex_windows.go
  mem/mem_windows.go
Labels: package:cpu, package:disk, package:mem

#1862 rename containerid arguments to containerID
  docker/docker_linux.go
  docker/docker_notlinux.go
Labels: package:docker
