Repository shirou/gopsutil, pull requests merged in 2025-03, with the labels that each got.

#1809 [net][host][aix] Fix build and Makefile
  Makefile
  host/host_aix.go
  net/net_aix_cgo.go
  net/net_aix_nocgo.go
Labels: package:host, package:net

#1769 feat(process_windows): Support collecting PageFault count in Windows
  README.md
  process/process_windows.go
Labels: package:process

#1812 chore: enable unnecessary-stmt from revive
  .golangci.yml
  net/net_linux.go
Labels: package:net

#1814 chore: enable thelper and usetesting linters
  .golangci.yml
  load/load_test.go
Labels: package:load

#1815 chore: use testify instead of testing
  cpu/cpu_darwin_test.go
  cpu/cpu_freebsd_test.go
  cpu/cpu_linux_test.go
  cpu/cpu_plan9_test.go
  cpu/cpu_solaris_test.go
  cpu/cpu_test.go
  disk/disk_test.go
  docker/docker_linux_test.go
  host/host_aix_test.go
  host/host_linux_test.go
  host/host_test.go
  internal/common/common_test.go
  load/load_test.go
  mem/mem_darwin_test.go
  mem/mem_linux_test.go
  mem/mem_plan9_test.go
  mem/mem_test.go
  net/net_darwin_test.go
  net/net_linux_test.go
  net/net_test.go
  process/process_linux_test.go
  process/process_posix_test.go
  process/process_race_test.go
  process/process_test.go
  sensors/sensors_test.go
Labels: package:host, package:process, package:cpu, package:disk, package:docker, package:net, package:load, package:mem, package:sensors

#1816 chore: enable begin rule from thelper
  .golangci.yml
  cpu/cpu_linux_test.go
  cpu/cpu_plan9_test.go
  cpu/cpu_test.go
  disk/disk_test.go
  host/host_test.go
  internal/common/common.go
  internal/common/common_testing.go
  load/load_test.go
  mem/mem_linux_test.go
  mem/mem_plan9_test.go
  mem/mem_test.go
  net/net_darwin_test.go
  net/net_linux_test.go
  net/net_test.go
  process/process_race_test.go
  process/process_test.go
  sensors/sensors_test.go
Labels: package:host, package:process, package:cpu, package:disk, package:net, package:load, package:mem, package:sensors

#1821 [host][process]: fix type missmatch test.
  host/host_test.go
  process/process_test.go
Labels: package:host, package:process

#1817 chore: enable var-naming from revive
  .golangci.yml
  cpu/cpu_aix_nocgo.go
  cpu/cpu_darwin.go
  cpu/cpu_windows.go
  disk/disk_freebsd.go
  disk/disk_linux.go
  host/host_aix.go
  host/host_darwin.go
  host/host_linux.go
  host/host_linux_386.go
  internal/common/common_windows.go
  load/load_bsd.go
  load/load_linux.go
  net/net_linux.go
  net/net_windows.go
  process/process.go
  process/process_darwin.go
  process/process_windows.go
  process/process_windows_32bit.go
  process/process_windows_64bit.go
  sensors/sensors_windows.go
Labels: package:host, package:process, package:cpu, package:disk, package:net, package:load, package:sensors

#1813 chore: enable gocritic linter
  .golangci.yml
  cpu/cpu_aix_nocgo.go
  cpu/cpu_linux.go
  cpu/cpu_solaris.go
  disk/disk_aix.go
  disk/disk_aix_nocgo.go
  host/host_aix.go
  host/host_linux.go
  host/host_windows.go
  internal/common/common_linux.go
  internal/common/common_windows.go
  mem/mem_freebsd.go
  mem/mem_linux.go
  net/net_aix.go
  process/process.go
  process/process_darwin.go
  process/process_posix.go
  process/process_windows.go
  process/process_windows_32bit.go
Labels: package:host, package:process, package:cpu, package:disk, package:net, package:mem

#1826 fix: address nolint contextcheck
  mem/mem_solaris.go
Labels: package:mem

#1791 add support for get disk serial number on darwin
  disk/disk_darwin.go
Labels: package:disk
