Repository shirou/gopsutil, pull requests merged in 2025-04, with the labels that each got.

#1838 [disk][linux] add bcachefs magic
  disk/disk_linux.go
Labels: package:disk

#1835 fix nil ptr
  cpu/cpu_darwin.go
Labels: package:cpu

#1831 Fix win32_SystemProcessorPerformanceInformation struct
  cpu/cpu_windows.go
Labels: package:cpu

#1829 [chore]: bump golangci-lint to v2.1.1
  .github/workflows/lint.yml
  .golangci.yml
  process/process_test.go
Labels: package:process

#1840 refactor: using fmt.Errorf in InfoWithContext
  host/host.go
Labels: package:host

#1843 chore: enable ineffassign linter
  .golangci.yml
  disk/disk_aix_nocgo.go
Labels: package:disk
