Repository shirou/gopsutil, pull requests merged in 2025-02, with the labels that each got.

#1785 chore: enable golangci-lint on Windows and MacOS
  .gitattributes
  .github/workflows/lint.yml
  cpu/cpu_windows.go
  disk/disk_darwin.go
  disk/disk_windows.go
  host/host_windows.go
  internal/common/common_darwin.go
  internal/common/common_windows.go
  load/load_windows.go
  mem/mem_darwin_test.go
  mem/mem_windows.go
  net/net_darwin.go
  net/net_darwin_test.go
  net/net_windows.go
  process/process_darwin.go
  process/process_windows.go
  process/process_windows_64bit.go
  sensors/sensors_windows.go
  winservices/winservices.go
Labels: package:host, package:process, package:cpu, package:disk, package:net, package:load, package:mem, package:winservices, package:sensors

#1795 [windows]: fix lint error about use-any
  internal/common/common_windows.go
  net/net_windows.go
Labels: package:net

#1796 fix: `Process.CmdlineSliceWithContext` incorrect on Windows
  process/process.go
  process/process_windows.go
Labels: package:process

#1797 chore(golangci-lint): GOOS and GOARCH matrix
  .github/workflows/lint.yml
  cpu/cpu_dragonfly.go
  cpu/cpu_netbsd.go
  cpu/cpu_openbsd.go
  cpu/cpu_plan9.go
  cpu/cpu_solaris.go
  disk/disk_openbsd.go
  disk/disk_solaris.go
  host/host_openbsd.go
  host/host_solaris.go
  mem/mem_bsd_test.go
  mem/mem_linux_test.go
  mem/mem_openbsd.go
  mem/mem_plan9.go
  mem/mem_solaris.go
  mem/mem_solaris_test.go
  net/net.go
  net/net_darwin.go
  net/net_freebsd.go
  net/net_linux.go
  net/net_linux_test.go
  net/net_openbsd.go
  net/net_solaris.go
  net/net_test.go
  net/net_windows.go
  process/process_openbsd.go
  process/process_solaris.go
  process/process_windows_32bit.go
  sensors/sensors_darwin.go
  sensors/sensors_solaris.go
Labels: package:host, package:process, package:cpu, package:disk, package:net, package:mem, package:sensors
